{% load i18n %}
<div class="order-info">
  <h3>{% translate "Vos Informations" %}</h3>
  <article class="card">
    <div class="card">
      <h4>{% translate "Vos Informations de contact" %}</h4>
      <p>
        <span class="text-muted">{% translate "Email" %}:</span>
        <span>{{ order.contact_info.email }}</span>
      </p>
      <p>
        <span class="text-muted">{% translate "Téléphone" %}:</span>
        <span>{{ order.contact_info.phone }}</span>
      </p>
    </div>
    <div class="card">
      <h4>{% translate "Votre adresse de Facturation" %}</h4>
      <p>{{ order.billing_address.first_name }} {{ order.billing_address.last_name }}</p>
      {% if order.billing_address.company_name %}<p>{{ order.billing_address.company_name }}</p>{% endif %}
      <p>{{ order.billing_address.street_address }}</p>
      {% if order.billing_address.street_address_line_2 %}<p>{{ order.billing_address.street_address_line_2 }}</p>{% endif %}
      <p>{{ order.billing_address.zip_code }} {{ order.billing_address.city }}, {{ order.billing_address.country.name }}</p>
    </div>
    <div class="card">
      <h4>{% translate "Votre adresse de Livraison" %}</h4>
      <p>{{ order.shipping_address.first_name }} {{ order.shipping_address.last_name }}</p>
      {% if order.shipping_address.company_name %}<p>{{ order.shipping_address.company_name }}</p>{% endif %}
      <p>{{ order.shipping_address.street_address }}</p>
      {% if order.shipping_address.street_address_line_2 and order.shipping_address.street_address_line_2 != 'null' %}
        <p>{{ order.shipping_address.street_address_line_2 }}</p>
      {% endif %}
      <p>
        {{ order.shipping_address.zip_code }} {{ order.shipping_address.city }}, {{ order.shipping_address.country.name }}
      </p>
    </div>
    <a href="{% url 'shop:checkout' %}"
       class="btn-primary btn-primary_center">{% translate "Modifier" %}</a>
  </article>
</div>
