{% load i18n %}
<section id="buy" class="home">
  <h2>{% translate "Commandez votre Zephyr 1" %}</h2>
  <p>{% translate "Livraison en France métropolitaine" %}</p>
  <div class="container">
    {% for product in products %}
      <article>
        <h3>{{ product.name }}</h3>
        {% if product.slug == 'zephyr-1-pro' %}
          <h4>{% translate "Enfumoir automatique Zephyr 1 Amateur" %}</h4>
          <p>{% translate "Hauteur réservoir: 18 cm, hors tout: 29 cm" %}</p>
        {% elif product.slug == 'zephyr-1-amateur' %}
          <h4>{% translate "Enfumoir automatique Zephyr 1 Pro" %}</h4>
          <p>{% translate "Hauteur réservoir: 22 cm, hors tout: 33 cm" %}</p>
        {% endif %}
        <table class="standard">
          <tbody>
            <tr>
              <td>{% translate "Prix HT" %}</td>
              <td>{{ product.price | floatformat:2 }} EUR</td>
            </tr>
            <tr>
              <td>{% translate "TVA" %} (20,0 %)*</td>
              <td>{{ product.get_standard_vat_price | floatformat:2 }} EUR</td>
            </tr>
            <tr>
              <td>{% translate "Prix TTC" %}</td>
              <td>{{ product.get_standard_price_incl_vat | floatformat:2 }} EUR</td>
            </tr>
          </tbody>
        </table>
        <div class="product-image">
          <a href="product.html">
            <img src="{{ product.photo.url }}" alt="{{ product_name }}"/>
          </a>
        </div>
        <div class="add-to-cart">
          <a href="{% url 'shop:add-to-cart' slug=product.slug %}"
             class="btn-primary">
            <i class="bx bx-cart-add"></i>
            <span>{% translate "Ajouter au panier" %}</span>
          </a>
        </div>
        {% if order %}
          <a href="{% url 'shop:cart' %}" class="basket-link">{% translate "Voir le Panier" %}</a>
        {% endif %}
        <small class="text-muted">* Le montant de la TVA peut varier en fonction du pays de livraison</small>
      </article>
    {% endfor %}
  </div>
</section>
