{% load i18n %}

<div class="order-info">
  <h3>{% translate "Votre Panier" %}</h3>
  <article class="card">
    <table class="standard">
      <thead>
        <tr>
          <td>{% translate "Produit" %}</td>
          <td>{% translate "TVA" %}</td>
          <td>{% translate "Prix TTC" %}</td>
        </tr>
      </thead>
      <tbody>
        {% for order_product in order.products.all %}
          <tr>
            <td>
              {{ order_product.product.name }} <b>x {{ order_product.quantity }}</b>
            </td>
            <td>{{ order_product.get_order_product_vat_price|floatformat:2 }} EUR</td>
            <td>{{ order_product.get_order_product_price|floatformat:2 }} EUR</td>
          </tr>
        {% endfor %}
        <tr>
          <td><b>{% translate "Total" %}</b></td>
          <td></td>
          <td><b>{{ order.get_order_price_ex_delivery|floatformat:2 }} EUR</b></td>
        </tr>
      </tbody>
    </table>
    <a href="{% url 'shop:cart' %}" class="btn-primary btn-primary_center toggle">{% translate "Modifier" %}</a>
  </article>
</div>
