{% extends 'base.html' %}
{% load i18n static %}
{% load crispy_forms_tags %}
{% block content %}
  <section class="shop cart">
    <h2>{% translate "Récapitulatif de la commande" %}</h2>
    <p>{% translate "Voici le contenu de votre panier" %}</p>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">{% translate "Produit" %}</th>
            <th scope="col">{% translate "Prix" %}</th>
            <th scope="col">{% translate "Quantité" %}</th>
            <th scope="col">{% translate "Sous-total" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for order_product in products %}
            <tr class="order_product" id="{{ order_product.product.slug }}">
              <th scope="row" class="remove">
                <a href="{% url 'shop:remove-from-cart' slug=order_product.product.slug %}"><i class="bx bx-x"></i></a>
              </th>
              <td class="product">
                <div>
                  <img src="{{ order_product.product.photo.url }}"
                       alt="{{ order_product.product.name }}"/>
                  <p>{{ order_product.product.name }}</p>
                </div>
              </td>
              <td id="{{ order_product.product.slug }}-price"></td>
              <td class="quantity">
                <div>
                  <a href="{% url "shop:remove-item-from-cart" slug=order_product.product.slug %}"
                     class="btn-primary"><i class="bx bxs-minus-circle"></i></a>
                  <span>{{ order_product.quantity }}</span>
                  <a href="{% url "shop:add-to-cart" slug=order_product.product.slug %}"
                     class="btn-primary"><i class="bx bxs-plus-circle"></i></a>
                </div>
              </td>
              <td>
                <strong id="{{ order_product.product.slug }}-total-price"></strong>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="cart-summary">
        <div class="back-to-shop">
          <a href="{% url 'shop:home' %}#buy" class="btn-primary">
            <i class='bx bx-chevrons-left'></i>
            <span>{% translate "Retour vers la boutique" %}</span>
          </a>
        </div>
        <div>
          <article class="card">
            {% crispy form %}
          </article>
          <article class="card">
            <h3>{% translate "Total Panier" %}</h3>
            <table class="standard">
              <tbody>
                <tr>
                  <td>{% translate "Sous-Total HT" %}</td>
                  <td id="order-price-ex-vat"></td>
                </tr>
                <tr>
                  <td>
                    {% translate "TVA" %} (<span id="vat-rate"></span>)
                  </td>
                  <td id="order-price-vat"></td>
                </tr>
                <tr>
                  <td>{% translate "Total TTC" %}</td>
                  <td id="order-price-ex-delivery"></td>
                </tr>
              </tbody>
            </table>
            <a href="{% url 'shop:shipping' %}"
               class="btn-primary btn-primary_center">{% translate "Valider la commande" %}</a>
          </article>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
{% block additional_scripts %}
  <script>
  const ORDER_PRICES_URL = "{{ order_pricea_url }}";
  const PRODUCT_PRICES_URL =  "/product_prices";
  const SELECT_COUNTRY_URL = "{{ select_country_url }}";
  </script>
  <script src="{% static 'js/cart.js' %}"></script>
{% endblock additional_scripts %}
{% comment %} <tbody>
  <tr>
    <td>{% translate "Sous-Total HT" %}</td>
    <td id="order-price-ex-vat">{{ order.get_order_price_ex_vat | floatformat:2 }} EUR</td>
  </tr>
  <tr>
    <td>{% translate "TVA" %}</td>
    <td id="order-price-vat">{{ order.get_order_vat_price | floatformat:2 }} EUR</td>
  </tr>
  <tr>
    <td>{% translate "Total TTC" %}</td>
    <td id="order-price-ex-delivery">{{ order.get_order_price_ex_delivery | floatformat:2 }} EUR</td>
  </tr>
</tbody> {% endcomment %}
