{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <section class="shop checkout">
    <h2>Récapitulatif de la commande</h2>
    <p>Veuillez entrer les informations relatives à votre commande</p>
    <div class="container">
      {% include 'shop/order_info.html' %}
      <div class="checkout-form">
        <h3>Détails de facturation</h3>
        <article>
          <form method="post" novalidate>
            {% crispy form %}
          </form>
        </article>
      </div>
    </div>
  </section>
{% endblock content %}
{% block additional_scripts %}
  <script src="{% static 'js/checkout.js' %}"></script>
{% endblock additional_scripts %}
