{% load i18n %}

<div class="order-info">
  <h3>{% translate "Résumé de votre commande" %}</h3>
  <article class="card">
    <table class="standard">
      <thead>
        <tr>
          <td>{% translate "Produit" %}</td>
          <td>{% translate "Prix TTC" %}</td>
        </tr>
      </thead>
      <tbody>
        {% for order_product in order.products.all %}
          <tr>
            <td>
              {{ order_product.product.name }} <b>x {{ order_product.quantity }}</b>
            </td>
            <td>{{ order_product.get_order_product_price|floatformat:2 }} EUR</td>
          </tr>
        {% endfor %}
        <tr>
          <td>{% translate "Livraison" %}</td>
          <td>{{ order.get_order_delivery_price|floatformat:2 }} EUR</td>
        </tr>
        <tr>
          <td><b>{% translate "Total" %}</b></td>
          <td><b>{{ order.get_order_total_price|floatformat:2 }} EUR</b></td>
        </tr>
      </tbody>
    </table>
  </article>
</div>
