{% extends "base.html" %}
{% load i18n static markdown_extras %}
{% block title %}
  NumericBees: {% translate "conditions générales de vente" %}
{% endblock title %}
{% block content %}
  <section class="blog sales-conditions">
    <h1>{% translate "Conditions générales de vente e-boutique NumericBees" %}</h1>
    <div class="container">
      {{ content | markdown | safe }}
      {% comment %} <h2>Préambule</h2>
      <p>
        La société NUMERICBEES met en place un site de commerce électronique accessible via le réseau internet à l’adresse <a href="{% url 'shop:home' %}">https://www.numericbees.com/</a> Il est ouvert à tout utilisateur de ce réseau (ci-après désigné « Internaute, ou prospect »). Il est édité par la société NUMERICBEES, SAS au capital de 1000 €, dont le siège est à LYON, 69003, 56, Rue du Dauphiné immatriculée au Registre du commerce et des sociétés de LYON sous le numéro 902 826 551, ci-après dénommé « vendeur ».
      </p>
      <p>
        Le site permet à NUMERICBEES de proposer à la vente des articles et accessoires apicoles (ci-après dénommés « produits ») à des Internautes naviguant sur le site. Pour l’application des présentes, il est convenu que l’Internaute et NUMERICBEES seront collectivement dénommés les « parties » et individuellement dénommé « partie ». L’internaute ayant validé une commande sera alors dénommé « client ». Les droits et obligations de l’Internaute s’appliquent nécessairement au « client ».
      </p>
      <p>
        Le « client », préalablement à sa commande, déclare avoir la pleine capacité juridique lui permettant de s’engager au titre des présentes conditions générales de vente.
      </p>
      <p>
        Toute commande d'un Produit proposé sur le Site suppose la consultation et l'acceptation des présentes conditions générales de vente, sans toutefois que cette acceptation soit conditionnée par une signature manuscrite de la part de l'Utilisateur. Conformément aux dispositions des articles 1365 à 1368 du Code civil, complétées par le décret n° 2001-272 du 30 mars 2001, pris pour l'application de l'article 1367 du Code civil et relatif à la signature électronique, il est rappelé que la validation du bon de commande telle que précisée à l'article 3.3 ci-après, constitue une signature électronique qui a, entre les Parties, la même valeur qu'une signature manuscrite.
      </p>
      <p>
        Ces conditions générales de vente ne s’appliquent pas à tout autre canal de vente par lequel un produit de la société NUMERICBEES aurait pu être acquis.
      </p>
      <h2>1. Objet</h2>
      <p>
        Les présentes conditions générales de vente ont pour objet, d'une part, d'informer tout Internaute sur les conditions et modalités dans lesquelles NUMERICBEES procède à la vente et à la livraison des produits commandés et, d'autre part, de définir les droits et obligations des Parties dans le cadre de la vente de produits par NUMERICBEES au « client ». Elles s'appliquent, sans restriction ni réserves, à l'ensemble des ventes, par la société NUMERICBEES, des produits proposés sur son site internet <a href="{% url 'shop:home' %}">https://www.numericbees.com/</a>
      </p>
      <p>Les présentes s’appliquent à l’exclusion de tout autre document.</p>
      <h2>2. Produits et Prix</h2>
      <h3>2.1 Produits</h3>
      <p>
        Les produits proposés à la vente par NUMERICBEES sont ceux présentés sur le site à la date de consultation par l’Internaute, dans la limite des stocks disponibles. Les photographies illustrant les Produits n’entrent pas dans les champs contractuels.
      </p>
      <h3>2.2 Prix</h3>
      <p>
        Les prix des Produits sont indiqués en euros, exprimés toutes taxes comprises et incluant la TVA pour le pays Européen concerné applicable au jour de la commande. Les frais liés au transport des Produits ne sont, quant à eux, pas compris dans les prix des produits.
      </p>
      <p>
        NUMERICBEES se réserve le droit, ce que l’Internaute accepte, de modifier le prix de ses Produits à tout moment. Les Produits seront facturés sur la base des tarifs en vigueur au moment de la validation de la commande par le « client », telle qu’indiquée sur le site au moment de la commande, sous réserve de la disponibilité desdits produits.
      </p>
      <h2>3. Enregistrement et validation de la commande</h2>
      <h3>3.1 Navigation à l’intérieur du site</h3>
      <p>
        L’Internaute peut naviguer librement et gratuitement sur les différentes pages du site, sans pour autant être engagé au titre d'une commande.
      </p>
      <p>
        L'Internaute conserve à sa charge les frais de télécommunication lors de l'accès à internet et de l'utilisation du site.
      </p>
      <h3>3.20 Offre</h3>
      <p>Sur la page produits, le « prospect » pourra obtenir une offre pour les marchandises qu’il souhaite.</p>
      <p>
        Il pourra choisir le ou les produits qu’il souhaite. Le prix unitaire et total des marchandises choisies sera affiché en HT et en TTC pour le pays de livraison souhaité en Europe. Le taux de TVA appliqué sera clairement mentionné.
      </p>
      <p>
        En fonction du pays choisi et du mode de livraison choisi, le « prospect » obtiendra une offre livraison comprise, sans surprise.
      </p>
      <p>
        Le « prospect » aura le choix d’agréer ou non l’offre proposée, de modifier les éléments de l’offre comme bon lui souhaite, et d’obtenir les informations qu’il veut.
      </p>
      <p>
        La durée de l’offre est limitée à la durée de connexion de l’internaute aux pages produits, offre et paiement de la commande. Tout autre changement de page ou sortie du site NUMERICBEES provoque la suppression de l’offre, et l’effacement des données personnelles si elles ont été renseignées.
      </p>
      <p>
        Si le « prospect » agrée une offre, il pourra passer à l’étape commande.
      </p>
      <h3>
        3.21 Commande
      </h3>
      <p>
        Lors de l’étape commande le « prospect » :
      </p>
      <ul>
        <li>
          Renseigne les informations nécessaires à la contractualisation de la commande, c’est-à-dire ses coordonnées postales, électroniques, et téléphoniques.
        </li>
        <li>
          Accepte le traitement de ses données personnelles par NUMERICBEES, et leur transmission aux prestataires de transport et paiement pour :
        </li>
        <ul>
          <li>
            La réalisation de sa commande,
          </li>
          <li>
            activation de son droit aux garanties légales,
          </li>
          <li>
            Son information en cas de procédure de rappel des produits,
          </li>
        </ul>
        <li>
          Peut encore modifier sa commande potentielle – quantités, références, choix du transporteur ou lieu de livraison, l’offre est mise à jour.
        </li>
        <li>
          Prend connaissance des conditions générales de vente et les accepte ou pas en cochant ou pas la case ad’hoc.
        </li>
        <ul>
          <li>
            L’acceptation des conditions générales de vente lui permettra alors de passer à l’étape paiement s’il le désire.
          </li>
          <li>
            Si le « prospect » refuse les conditions générales de vente, ses coordonnées seront totalement effacées lorsqu’il changera de page ou quittera le site https://www.numericbees.com
          </li>
        </ul>
        <li>
          Prend connaissance de son droit de rétractation légal et des conditions de l’utilisation de ce droit décrits au chapitre 8 ci-après, en cochant la case ad’hoc.
        </li>
        <li>
          Prend connaissance que la garantie légale de conformité et la garantie légale contre les vices cachés décrits au chapitre 11.2 ci-après en cochant la case ad’hoc.
        </li>
      </ul>
      <p>
        L'Internaute est informé et accepte que la saisie de ses coordonnées vaut preuve de son identité et manifeste son consentement.
      </p>
      <p>
        Le traitement des commandes et le contact sont généralement effectués par courrier électronique. Le client doit s'assurer que l'adresse e-mail qu'il a fournie pour le traitement de la commande est correcte, afin que les e-mails envoyés par le « vendeur » puissent être reçus à cette adresse. En particulier, lors de l'utilisation de filtres ANTISPAM, le client doit s'assurer que tous les e-mails envoyés par le « vendeur » ou des tiers mandatés par le « vendeur » pour traiter la commande peuvent être livrés.
      </p>
      <p>
        La commande du « prospect » peut alors être validée en cliquant « continuer vers le paiement ». Le « prospect » est redirigé vers le site de paiement sécurisé en ligne du CREDIT MUTUEL, appelé MONETICO PAIEMENT, dont l’adresse URL est <a href="https://p.monetico-services.com/paiement.cgi">https://p.monetico-services.com/paiement.cgi</a>, présenté en incrustation dans la page du site <a href="{% url 'shop:home' %}">https://www.numericbees.com/</a>. NUMERICBEES n’a alors plus accès à quelque information personnelle du « prospect » que ce soit, et en particulier ses coordonnées bancaires.
      </p>
      <h3>
        3.3 Validation définitive et règlement de la commande
      </h3>
      <p>
        Après avoir cliqué sur « continuer vers le paiement » les données de la commande sont transmises à MONETICO PAIEMENT serveur monétique de la banque « CREDIT MUTUEL » et le « prospect » est automatiquement redirigé sur ce serveur. Il est précisé que ce serveur fait l’objet d’une sécurisation S.S.L. (Secure Socket Layer) de manière à protéger plus efficacement toutes les données liées aux moyens de paiement, et qu’à aucun moment les données bancaires du « client » ne transiteront sur le système informatique de NUMERICBEES.
      </p>
      <p>
        Le « prospect » peut :
      </p>
      <ul>
        <li>
          Soit abandonner sa commande et effacer ses données,
        </li>
        <li>
          Soit modifier sa commande, dans ce cas il retourne sur le site <a href="{% url 'shop:home' %}">https://www.numericbees.com/</a>
        </li>
        <li>
          Soit procéder à son paiement en complétant le formulaire MONETICO PAIEMENT et en cliquant sur « payer maintenant. »
        </li>
      </ul>
      <p>
        A partir du clic sur « payer maintenant », le « prospect » devient « client ». Il a enregistré sa commande et est considéré comme ayant accepté en connaissance de cause et sans réserve les présentes conditions générales de vente, les prix, volumes et quantités des produits proposés à la vente et commandés. La transaction financière est réalisée par MONETICO PAIEMENT qui fournit un ticket de paiement au « client » et lui envoie par email.
      </p>
      <p>
        La commande deviendra irrévocable lors de l’encaissement de la totalité de la somme par la société NUMERICBEES, sous réserve de la faculté de rétractation ci-après stipulée. La commande étant définitive et irrévocable, toute demande de modification faite par le « client », est soumise à l’acceptation de NUMERICBEES.
      </p>
      <p>
        Le compte bancaire du « client » sera, quant à lui, débité le jour de la commande.
      </p>
      <p>
        Pareillement, NUMERICBEES s’oblige à livrer des produits conformes à ceux commandés, sous réserve :
      </p>
      <ul>
        <li>
          Des modifications liées à l’évolution technique des produits dans les conditions prévues à l’article R.212-4 du code de la consommation,
        </li>
        <li>
          Du cas de l’indisponibilité des produits ci-après stipulé au chapitre 7.
        </li>
      </ul>
      <h3>
        3.4 Confirmation de la commande
      </h3>
      <p>
        Lorsque le paiement aura été validé, un récapitulatif de la commande sera envoyé au « client » à l’adresse e-mail qu’il aura lui-même fournie.
      </p>
      <h2>
        4. Informations concernant le paiement
      </h2>
      <p>
        Toutes les commandes sont payables en euros, au comptant, toutes taxes comprises, par carte bancaire de type nationale CB, ou internationale VISA et MasterCard, à l’exclusion de tout autre moyen. Le « client » garantit à NUMERICBEES qu'il dispose des autorisations éventuellement nécessaires pour utiliser le paiement par carte bancaire, lors de l'enregistrement du bon de commande.
      </p>
      <p>
        NUMERICBEES se réserve le droit de suspendre ou d'annuler toute commande et/ou livraison, quelle que soit sa nature et niveau d'exécution, en cas de non-paiement de toute somme qui serait due par le « client », en cas d'incident de paiement ou en cas de litige existant avec le « client ».
      </p>
      <p>
        Dans le cadre de la lutte contre les fraudes sur Internet, les informations relatives à votre commande pourront être transmises à tout tiers pour vérification.
      </p>
      <h2>
        5. Modalités de livraison
      </h2>
      <p>
        La commande sera exécutée au plus tard dans un délai de 30 jours à compter du jour suivant celui de la validation par le « client » de sa commande.
      </p>
      <p>
        Les produits seront livrés à l’adresse indiquée par le « client » sur le bon de commande. Celle-ci devra être en cohérence avec la zone géographique choisie lors de la phase de commande.
      </p>
      <p>
        NUMERICBEES ne pourra être tenue pour responsable dans le cas d’un délai de livraison trop important du fait du transporteur, de même qu’en cas de perte des Produits commandés ou de grèves des services postaux.
      </p>
      <p>
        Les expéditions sont effectuées par le transporteur choisi par le « client » qui a la faculté de suivre l’acheminement de son colis sur le site du transporteur sélectionné avec le numéro de suivi fourni.
      </p>
      <h2>
        6. Taxes et droits de douane
      </h2>
      <p>
        Toute commande passée sur le Site et livrée en dehors de la France métropolitaine pourra être soumise à des taxes éventuelles et à des droits de douane qui sont imposés lorsque le colis parvient à sa destination. Ces droits de douane et ces taxes éventuels liés à la livraison d'un article sont à la charge du « client » et relèvent de sa responsabilité. NUMERICBEES ne peut être tenue responsable des retards et frais liés aux opérations de dédouanement des livraisons, et se dégage de fait de toute responsabilité juridique si l’acquittement des taxes n’était pas effectué par le « client ».
      </p>
      <p>
        NUMERICBEES n’est pas tenue de vérifier et d’informer le « client » des droits de douane et taxes applicables. Pour les connaître, NUMERICBEES conseille au « client » de se renseigner auprès des autorités compétentes du pays considéré.
      </p>
      <p>
        Dans le cas de livraisons dans des pays hors de l'Union européenne, des frais supplémentaires peuvent survenir dans des cas particuliers dont le « vendeur » n'est pas responsable et qui sont à la charge du « client ». Il s'agit par exemple des frais de transfert d'argent par les établissements de crédit (ex. frais de transfert, frais de change) ou des droits ou taxes d'importation (ex. droits de douane). De tels frais peuvent également survenir en relation avec le transfert d'argent si la livraison n'est pas effectuée vers un pays hors de l'Union européenne, mais que le client effectue le paiement depuis un pays hors de l'Union européenne.
      </p>
      <h2>
        7. Indisponibilité des Produits
      </h2>
      <p>
        Les Produits sont proposés dans la limite des stocks disponibles. En cas d'indisponibilité de l'un des Produits, le « client » en sera informé au plus tôt. Cette information pourra lui être notifiée, dans la mesure du possible, de la manière suivante :
      </p>
      <ul>
        <li>
          Lors de l'établissement de sa commande,
        </li>
        <li>
          Suite à la validation de sa commande, antérieurement à la livraison, par voie d'e-mail. NUMERICBEES fera alors le nécessaire pour soustraire le prix du produit indisponible au montant prélevé du compte bancaire du « client ».
        </li>
      </ul>
      <p>
        Dans tous les cas susmentionnés, le « client » aura la possibilité d'annuler sa commande en sollicitant le remboursement des sommes versées dans les trente (30) jours au plus tard après leur prélèvement, par e-mail adressé à <a href="mailto:info@numericbees.com">info@numericbees.com</a>
      </p>
      <h2>
        8. Droit de rétraction
      </h2>
      <p>
        Conformément aux articles L. 221-18 et suivants du Code de la consommation, le « client »
      </p>
      <ul>
        <li>
          Prend connaissance de son droit de rétractation légal de quatorze (14) jours.  NUMERICBEES porte le délai de ce droit de rétractation à titre commercial à 90 jours, durant lesquels le « client » peut se rétracter de sa commande sans avoir à en justifier le motif, et demander à être remboursé intégralement de son achat, en contrepartie du renvoi de sa commande, aux frais du « client ».
        </li>
        <li>
          Prend connaissance que son droit de rétractation s’effectue sur le <a href="{% url "shop:request-refund" %}">formulaire en ligne fourni ici </a>, ou sur papier libre, ou sur le formulaire <a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/R38397">disponible ici</a>, à adresser à NUMERICBEES, 56, Rue du Dauphiné, 69003 LYON, France ou sur l’adresse email : retractation@numericbees.com. Si le « client » utilise le formulaire en ligne mis à sa disposition par NUMERICBEES, il recevra par retour un accusé réception de sa demande.
        </li>
        <li>
          Prend connaissance qu’il disposera alors de 14 jours pour faire parvenir sa commande ou la preuve de réexpédition de sa commande à NUMERICBEES. Il sera remboursé intégralement de sa commande initiale dès réception, par le même moyen de paiement que celui utilisé lors de sa commande initiale.
        </li>
      </ul>
      <p>
        NUMERICBEES n’acceptera pas les colis en port dû.
      </p>
      <p>
        Quand le « client » retourne des Produits dans le cadre de son droit de rétractation, tout risque lié au retour des produits est à la charge du « client ».
      </p>
      <p>
        Le « client » peut consulter ses droits :
      </p>
      <ul>
        <li>
          Sur le site du ministère de l’économie : <a href="https://www.economie.gouv.fr/particuliers/droit-delai-retractation">https://www.economie.gouv.fr/particuliers/droit-delai-retractation</a>
        </li>
        <li>
          Et le texte officiel européen : directive 2011/83/eu
        </li>
      </ul>
      <p>
        Le droit de rétractation ne s'applique pas aux « clients » qui n'appartiennent à aucun État membre de l'Union européenne au moment de la conclusion du contrat et dont la résidence et l'adresse de livraison uniques se trouvent en dehors de l'Union européenne au moment de la conclusion du contrat.
      </p>
      <h2>
        9. Reserve de propriété
      </h2>
      <p>
        Les marchandises demeurent la propriété de NUMERICBEES jusqu’au paiement intégral et effectif de leur prix.
      </p>
      <h2>
        10. Informatique et libertés
      </h2>
      <p>
        Le renseignement des informations nominatives collectées dans le cadre de la vente à distance est obligatoire, ces informations étant nécessaires pour le traitement et la livraison des commandes ainsi que pour l'établissement des factures. Ces informations sont strictement confidentielles. Un défaut de renseignement impliquera le rejet automatique de la commande.
      </p>
      <p>
        NUMERICBEES s’engage à ne pas les utiliser à d’autres fins que la réalisation du contrat avec le « client » et au respect de ses obligations légales. Pour plus d’information concernant la protection des données personnelles veuillez consulter la fiche d’information correspondante.
      </p>
      <h2>
        11. Stipulations diverses
      </h2>
      <h3>
        11.1 Responsabilité
      </h3>
      <p>
        NUMERICBEES ne pourra être tenue pour responsable de l'inexécution du contrat en cas de rupture de stock ou indisponibilité du Produit du fait d'un cas de force majeure, de perturbation ou grève totale ou partielle notamment des services postaux et moyens de transport et/ou communications.
      </p>
      <h3>
        11.2 Réclamations et Garantie
      </h3>
      <p>
        Le « client » :
      </p>
      <ul>
        <li>
          Prend connaissance qu’il bénéficie de la garantie légale de conformité dans les conditions des articles L.217-4 et suivants du Code de la consommation. La garantie légale de conformité est de deux ans à partir de la date de réception de la commande par le « client ». Pendant ces deux ans NUMERICBEES prendra à sa charge le remplacement ou la réparation du défaut ainsi que les frais de retour et d’expédition du produit.
        </li>
        <li>
          Est dispensé de rapporter la preuve de l'existence du défaut de conformité du bien durant les vingt-quatre (24) mois suivant la délivrance du bien (sauf pour les biens d'occasion pour lesquels le « client » est dispensé de rapporter la preuve de l'existence du défaut de conformité du bien seulement durant les six (6) mois suivant la délivrance du bien) pour tout produit acheté à partir du 18 mars 2016 à minuit.
        </li>
        <li>
          Prend connaissance qu’il bénéficie de la garantie légale des vices cachés dans les conditions prévues aux articles 1641 et suivants du Code civil. La garantie légale contre les vices cachés est de deux ans à partir de la date de connaissance du vice caché par le « client ».  Le « client » peut décider de mettre en œuvre la garantie des vices cachés au sens de l'article 1641 du code civil. Dans cette hypothèse, le « client » choisit entre la résolution de la vente ou une réduction du prix de vente conformément à l’article 1644 du code civil. Il doit apporter la preuve que le vice caché existait antérieurement à la vente.
        </li>
        <li>
          Est informé que le garant des défauts des produits vendus est la société NUMERICBEES, 56, Rue du Dauphiné, 69003 LYON.
        </li>
        <li>
          Pour faire jouer ses garanties légales informera NUMERICBEES de sa demande par le formulaire en ligne mis à sa disposition, par courrier postal, ou par email à garantie@numericbees.com
        </li>
      </ul>
      <p>
        La garantie légale de conformité s'applique indépendamment de la garantie commerciale éventuellement consentie.
      </p>
      <p>
        <strong>Le « client » est soumis à une obligation de prudence dans l'utilisation de ses produits.</strong> La garantie de conformité ne s’applique pas :
      </p>
      <ul>
        <li>
          En cas de modification apportée sur le produit par une personne non autorisée par NUMERICBEES,
        </li>
        <li>
          En cas d’usure normale du produit,
        </li>
        <li>
          En cas d’un usage inapproprié ou non conforme du produit,
        </li>
        <li>
          En cas de non-respect des règles d’entretien du produit,
        </li>
        <li>
          En cas de dommages causés par le transport, le stockage, ou une manipulation inappropriée du produit.
        </li>
      </ul>
      <p>
        Dans ces cas précis, le produit pourra vous être retourné en l'état, ou réparé sur acceptation et paiement préalable d'un devis établi par NUMERICBEES. La garantie ne jouera pas pour les vices apparents.
      </p>
      <h3>
        11.3 Non-validité partielle
      </h3>
      <p>
        Si une ou plusieurs stipulations des présentes conditions générales de vente sont tenues pour non valides ou déclarées comme telles en application d'une loi, d'un règlement ou à la suite d'une décision définitive d'une juridiction compétente, les autres stipulations garderont toute leur force et leur portée.
      </p>
      <h3>
        11.4 Intégralité du contrat
      </h3>
      <p>
        Les présentes conditions générales de vente et le récapitulatif de commande transmis au « client » forment un ensemble contractuel et constituent l’intégralité de relations contractuelles intervenues entre les Parties.
      </p>
      <p>
        En cas de contradiction entre ces documents, les conditions générales de ventes prévaudront.
      </p>
      <h3>
        11.5 Droit applicable et juridiction compétente.
      </h3>
      <p>
        Les ventes de produits de la société NUMERICBEES sont soumises à la loi Française quel que soit le pays de résidence du « client » et le lieu de passation de la commande. Tout litige relatif à l'interprétation, l'exécution ou la rupture du contrat conclu entre NUMERICBEES et le « client », même en cas de pluralité de défendeurs, sera, à défaut d'accord amiable, de la compétence exclusive des tribunaux de Français compétents en application des règles édictées par le code de procédure civile Français.
      </p>
      <h3>
        11.6 Règlement des litiges en ligne :
      </h3>
      <p>
        Conformément à l’article 14.1 du règlement (UE) n°524/2013 du parlement européen et du conseil du 21 mai 2013 le « client » est informé que la Commission européenne met à disposition une plateforme de règlement des litiges en ligne, que vous pouvez trouver à cette adresse : <a href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a>. Nous ne sommes ni obligés ni disposés à participer à une procédure de règlement des litiges devant un conseil d'arbitrage des consommateurs.
      </p>
      <p>
        Notre adresse pour le règlement des litiges est : <a href="mailto:info@numericbees.com">info@numericbees.com</a>
      </p>
      <h3>
        11.7 Médiateur de la consommation
      </h3>
      <p>
        Nous avons passé une convention avec le médiateur de la consommation suivant, auquel vous pouvez vous adresser gratuitement pour régler un litige pour lequel nous ne vous aurions pas apporté une réponse qui vous satisfasse.
      </p>
      <p>
        Médiateur de la consommation : xxxxx
      </p>
      <p>
        Pour consulter vos droits à la médiation : <a href="https://www.economie.gouv.fr/mediation-conso/vous-etes-consommateur">https://www.economie.gouv.fr/mediation-conso/vous-etes-consommateur</a>
      </p>
      <h2>
        12 Service après-vente
      </h2>
      <p>
        NUMERICBEES propose son service de réparation sur devis aux clients qui en feront la demande par email : info@numericbees.com
      </p>
      <p>
        NUMERICBEES tient à disposition de ses clients les pièces détachées pour remplacer quand cela est possible les composants détériorés lors de l’utilisation par le « client » du produit.
      </p>
      <p>
        NUMERICBEES cherche à sourcer des composants robustes dans le temps et à l’usage, dans la mesure de leur disponibilité sur le marché et de la connaissance qu’elle en a.
      </p>
      <p>
        NUMERICBEES s’efforce d’être dans l’esprit de la démarche « indice de réparabilité » du ministère de l’écologie en vue de faciliter la réparation des produits et éviter la production de déchets.
      </p>
      <p>
        A ce titre NUMERICBEES se force à faciliter l’autoréparation en toute sécurité :
      </p>
      <ol>
        <li>
          Le démontage de ses produits se fait avec un nombre limité d’outils :
        </li>
        <ol>
          <li>
            Tournevis cruciforme
          </li>
          <li>
            Clé plate de 7mm pour le démontage et le remplacement de la chambre de combustion
          </li>
          <li>
            Clé plate de 4mm pour le démontage du micro switch
          </li>
        </ol>
        <li>
          Les fixations sont pour leur quasi-totalité amovibles et réutilisables
        </li>
        <li>
          Met à disposition les vues éclatées, nomenclature et procédure de diagnostic de panne de ses produits sur son site internet
        </li>
        <li>
          Mets à disposition des tutoriels vidéo sur son site internet pour guider le client dans la réparation de son produit.
        </li>
        <li>
          Propose à l’achat des composants de remplacement à des prix accessibles et honnêtes.
        </li>
      </ol>
      <h2>
        Annexes :
      </h2>
      <p>
        L’« internaute » peut consulter les documents suivants pour compléter son information sur ses droits ou sur les processus de données mis en œuvre :
      </p>
      <ul>
        <li>
          <a href="https://www.monetico-paiement.fr/fr/info/documentations/Monetico_Paiement_documentation_technique_v2.0.pdf">Documentation technique Monetico Paiement.</a>
        </li>
        <li>
          <a href="https://www.economie.gouv.fr/particuliers/droit-delai-retractation">Code de la consommation, droit de rétractation.</a>
        </li>
        <li>
          <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32011L0083&qid=1636969103201">Directive 2011/83/EU</a>
        </li>
        <li>
          <a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F23455">Droit de la vente en ligne.</a>
        </li>
        <li>
          <a href="https://www.economie.gouv.fr/dgccrf/Publications/Vie-pratique/Fiches-pratiques/prospection-commerciale-lutilisation-des-donnees-personnelles">Utilisation des données personnelles.</a>
        </li>
        <li>
          <a href="https://www.economie.gouv.fr/dgccrf/Publications/Vie-pratique/Fiches-pratiques/Delai-de-livraison">Délai de livraison.</a>
        </li>
        <li>
          <a href="https://www.economie.gouv.fr/dgccrf/Publications/Vie-pratique/Fiches-pratiques/Les-garanties-legales">Garanties légales.</a>
        </li>
      </ul> {% endcomment %}
    </div>
  </section>
{% endblock content %}
