{% extends "base.html" %}
{% load i18n static %}
{% block title %}
  NumericBees: {% translate "demande de démonstration - confirmation" %}.
{% endblock title %}
{% block content %}
  <section class="blog demo-confirmation">
    <h2>{% translate "Demande de démonstration prise en compte" %}</h2>
    <p>
      {% translate "Nous avons bien pris en compte votre demande de démonstration. Nous vous recontacterons prochainement." %}
    </p>
    <div class="container">
      <article class="card">
        <div class="card">
          <h3 class=" mb-3">{% translate "Contact" %}</h3>
          <p><span class="text-muted">Nom: </span><span>{{ demo_request.first_name }} {{ demo_request.last_name }}</span></p>
          <p><span class="text-muted">Email: </span><span>{{ demo_request.email }}</span></p>
          <p><span class="text-muted">Téléphone: </span><span>{{ demo_request.phone }}</span></p>
        </div>
        <div class="card">
          <h3 class=" mb-3">{% translate "Magasin" %}</h3>
          <p><span class="text-muted">Nom du magasin: </span><span>{{ demo_request.shop_name }}</span></p>
          <p><span class="text-muted">Code postal, ville: </span><span>{{ demo_request.post_code }}, {{ demo_request.city }}</span></p>
        </div>
        <div class="card">
          <h3 class=" mb-3">{% translate "Date Souhaitée" %}</h3>
          <p>{{ demo_request.requested_date }}</p>
        </div>
      </article>
      <div>
        <a class="btn btn-primary btn-primary_center"
           href="{% url 'shop:home' %}">{% translate "Retour vers l'accueil" %}</a>
      </div>
    </div>
  </section>
{% endblock content %}
