{% extends "base.html" %}
{% load i18n static %}
{% block title %}
  NumericBees: {% translate "demande de démonstration - confirmation" %}.
{% endblock title %}
{% block content %}
  <section class="blog demo-confirmation">
    <h2>{% translate "Demande de démonstration prise en compte" %}</h2>
    <p>
      {% translate "Nous avons bien pris en compte votre demande de démonstration. Nous vous recontacterons prochainement." %}
    </p>
    <div class="container">
      <article class="card">
        <div class="card">
          <h3 class=" mb-3">{% translate "Contact" %}</h3>
          <p><span class="text-muted">{% translate "Email" %}: </span><span>{{ demo_request.email }}</span></p>
        </div>
        <div class="card">
          <h3 class=" mb-3">{% translate "Magasin" %}</h3>
          <p><span class="text-muted">{% translate "Nom du magasin" %}: </span><span>{{ demo_request.shop_name }}</span></p>
          <p><span class="text-muted">{% translate "Code postal, ville" %}: </span><span>{{ demo_request.post_code }}, {{ demo_request.city }}</span></p>
        </div>
      </article>
      <div>
        <div class="socials" id="div-socials">
          <div class="social-share">{% translate "En parler à un ami" %}</div>
          <div class="social-icons">
            <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fnumericbees.com%2F"
               target="_blank">
              <div class="icon-circle">
                <i class='bx bxl-facebook'></i>
              </div>
            </a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fnumericbees.com%2F"
            target="_blank">
            <div class="icon-circle">
              <i class='bx bxl-linkedin'></i>
            </div>
          </a>
          <a href="https://twitter.com/share?url=http%3A%2F%2Fnumericbees.com%2F"
               target="_blank">
              <div class="icon-circle">
                <i class='bx bxl-twitter'></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
