{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="blog article-list">
    <div class="container">
      {% for article in articles %}
        <article class="article_card card">
          <h2 class="post-title">{{ article.title }}</h2>
          <small class="text-muted">Publié le {{ article.date_created | date:"j F Y" }}</small>
          {% if article.image %}
            <div class="article-image">
              <img src="{{ article.image.url }}" alt="illustration apiculture">
            </div>
          {% endif %}
          <h3 class="post-subtitle">{{ article.abstract }}</h3>
          <a href="{% url 'blog:article-detail' slug=article.slug %}"
             class="btn-primary btn-primary_center">Lire l'Article</a>
        </article>
      {% endfor %}
    </div>
  </section>
{% endblock %}
