{% load i18n static %}
<section id="knowmore" class="home">
  <h2>{% translate "Découvrez Zephyr 1" %}</h2>
  <p>
    {% translate "Zephyr 1 est un enfumoir automatisé qui apporte une solution aux problèmes récurrents des apiculteurs : l'enfumoir difficile à allumer, et qui s'éteint quand on en a besoin." %}
  </p>
  <div class="container">
    <div class="swiper mySwiperVideo">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <video width="100%" muted controls>
            <source src="{% static 'assets/video/ouverture-ruche.mp4' %}"
                    type="video/mp4"/>
            Your browser does not support the video.
          </video>
        </div>
        <div class="swiper-slide">
          <video width="100%" muted controls>
            <source src="{% static 'assets/video/faire-descendre-les-abeilles.mp4' %}"
                    type="video/mp4"/>
            Your browser does not support the video.
          </video>
        </div>
      </div>
    </div>
    <div thumbsSlider="" class="swiper mySwiperVideoThumbs">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="{% static 'assets/img/ouverture-ruche.jpg' %}" />
        </div>
        <div class="swiper-slide">
          <img src="{% static 'assets/img/faire-descendre-les-abeilles.jpg' %}" />
        </div>
      </div>
    </div>
  </section>
