{% load static %}
<section id="knowmore" class="home">
  <h2>Découvrez Zephyr 1</h2>
  <p>Découvrez l'enfumoir automatique Zephyr 1</p>  
  <div class="container">
    {% comment %} <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <video width="100%" muted controls>
            <source src="{% static 'assets/video/ouverture-ruche.mp4' %}" type="video/mp4"/>
            Your browser does not support the video.
          </video>
        </div>
        <div class="swiper-slide">
          <video width="100%" muted controls>
            <source src="{% static 'assets/video/faire-descendre-les-abeilles.mp4' %}" type="video/mp4"/>
            Your browser does not support the video.
          </video>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div> {% endcomment %}
    <video width="100%" muted controls>
      <source src="{% static 'assets/video/ouverture-ruche.mp4' %}" type="video/mp4"/>
      Your browser does not support the video.
    </video>
  </div>
</section>

