{% load i18n static %}
<section id="documentation" class="section home">
  <div class="container">
    <div class="text">
      <div>
        <h3>Ayez le plaisir d'ouvrir vos ruches!</h3>
        <a href="{% static 'assets/files/Enfumoir_automatique_Zephy_1_NumericBees.pdf' %}" class ="btn btn-reverse">
          <div class="inline-icon-text">
          <i class='bx bx-download'></i>
          <span>Télécharger une documentation</span></div>
        </a>
      </div>
    </div>
    <div class="image">
      <img src="{% static 'assets/img/open-your-behive.png' %}" alt="">
    </div>
  </div>
</section>
