<!-- END OF FEATURES -->
<section id="services" class="home">
  <h2>Fonctionnalités</h2>
  <p>Découvrez les fonctionnalités de l'enfumoir Zephyr 1</p>
  <div class="container">
    <article class="features">
      <i class='bx bx-bulb'></i>
      <div class="description">
        <h4>Pratique</h4>
        <div class="inline-icon-text">
          <i class='bx bx-check-square'></i>
          <small>Conçu par des apiculteurs pour les apiculteurs.</small>
        </div>
        <div class="inline-icon-text">
          <i class='bx bx-check-square'></i>
          <small>S'allume sans effort ni échec.</small>
        </div>
      </div>
    </article>
    <article class="features">
      <i class='bx bx-user'></i>
      <div class="description">
        <h4>Ergonomique</h4>
        <div class="inline-icon-text">
          <i class='bx bx-check-square'></i>
          <small>Plus léger qu'un enfumoir à soufflet, pas de pompage sur le soufflet</small>
        </div>
      </div>
    </article>
    <article class="features">
      <i class='bx bx-wrench'></i>
      <div class="description">
        <h4>Fiable</h4>
        <div class="inline-icon-text">
          <i class='bx bx-check-square'></i>
          <small>Sécurité par temporisation.</small>
        </div>
        <div class="inline-icon-text">
          <i class='bx bx-check-square'></i><small>Composants industriels fiables</small>
        </div>
        <div class="inline-icon-text">
          <i class='bx bx-check-square'></i><small>Autonomie de plusieurs semaines</small>
        </div>
      </div>
    </article>
    <article class="features">
      <i class='bx bx-hard-hat'></i></i>
      <div class="description">
        <h4>Robuste</h4>
        <div class="inline-icon-text">
          <i class='bx bx-check-square'></i><small>Supporte les chutes répétées dans l'herbe.</small>
        </div>
        <div class="inline-icon-text">
          <i class='bx bx-check-square'></i><small>Ne se perce pas.</small>
        </div>
      </div>
    </article>
    <article class="features">
      <i class='bx bx-world'></i>
      <div class="description">
        <h4>Durable</h4>
        <div class="inline-icon-text">
          <i class='bx bx-check-square'></i><small>Plusieurs milliers d'heures de fonctionnement ou d'activations</small>
          <i class='bx bx-check-square'></i><small>Réparable</small>
        </div>
      </div>
    </article>
    <article class="features">
      <i class='bx bx-phone'></i>
      <div class="description">
        <h4>Garanti</h4>
        <div class="inline-icon-text">
          <i class='bx bx-check-square'></i><small>Garantie 2 ans</small>
        </div>
      </div>
    </article>
  </div>
</section>
