<!-- END OF FEATURES -->
{% load i18n static %}

<section id="services" class="home">
  <h2>{% translate "Avantages" %}</h2>
  <p>{% translate "Découvrez les avantages de l'enfumoir Zephyr 1" %}</p>
  <div class="container">
    <article class="features">
      <i class='bx bx-bulb'></i>
      <div class="description">
        <h4>{% translate "Pratique" %}</h4>
        <div class="inline-icon-text">
          <i class='bx bx-check-square'></i>
          <small>{% translate "Conçu par des apiculteurs pour les apiculteurs." %}</small>
        </div>
        <div class="inline-icon-text">
          <i class='bx bx-check-square'></i>
          <small>{% translate "S'allume sans effort ni échec." %}</small>
        </div>
      </div>
    </article>
    <article class="features">
      <i class='bx bx-user'></i>
      <div class="description">
        <h4>{% translate "Ergonomique" %}</h4>
        <div class="inline-icon-text">
          <i class='bx bx-check-square'></i>
          <small>{% translate "Plus léger qu'un enfumoir à soufflet, pas de pompage sur le soufflet." %}</small>
        </div>
      </div>
    </article>
    <article class="features">
      <i class='bx bx-wrench'></i>
      <div class="description">
        <h4>{% translate "Fiable" %}</h4>
        <div class="inline-icon-text">
          <i class='bx bx-check-square'></i>
          <small>{% translate "Sécurité par temporisation." %}</small>
        </div>
        <div class="inline-icon-text">
          <i class='bx bx-check-square'></i><small>{% translate "Composants industriels fiables." %}</small>
        </div>
        <div class="inline-icon-text">
          <i class='bx bx-check-square'></i><small>{% translate "Autonomie de plusieurs semaines." %}</small>
        </div>
      </div>
    </article>
    <article class="features">
      <i class='bx bx-hard-hat'></i></i>
      <div class="description">
        <h4>{% translate "Robuste" %}</h4>
        <div class="inline-icon-text">
          <i class='bx bx-check-square'></i><small>{% translate "Supporte les chutes répétées dans l'herbe." %}</small>
        </div>
        <div class="inline-icon-text">
          <i class='bx bx-check-square'></i><small>{% translate "Ne se perce pas." %}</small>
        </div>
      </div>
    </article>
    <article class="features">
      <i class='bx bx-world'></i>
      <div class="description">
        <h4>{% translate "Durable" %}</h4>
        <div class="inline-icon-text">
          <i class='bx bx-check-square'></i><small>{% translate "Plusieurs milliers d'heures de fonctionnement ou d'activations." %}</small>
          <i class='bx bx-check-square'></i><small>{% translate "Réparable" %}</small>
        </div>
      </div>
    </article>
    <article class="features">
      <i class='bx bx-phone'></i>
      <div class="description">
        <h4>{% translate "Garanti" %}</h4>
        <div class="inline-icon-text">
          <i class='bx bx-check-square'></i><small>{% translate "Garantie 2 ans" %}</small>
        </div>
      </div>
    </article>
  </div>
</section>
