{% load i18n static %}
<section id="images" class="section home">
  <h2>{% translate "Découvrez Zephyr 1 en images" %}</h2>
  {% comment %} <p>{% translate "Découvrez l'enfumoir automatique Zephyr 1 en images" %}</p> {% endcomment %}
  <div class="container">
    <div class="swiper mySwiperImages">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="{% static 'assets/img/enfumoir_zephyr1_01.jpg' %}" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{% static 'assets/img/enfumoir_zephyr1_02.jpg' %}" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{% static 'assets/img/enfumoir_zephyr1_03.jpg' %}" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{% static 'assets/img/enfumoir_zephyr1_04.jpg' %}" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{% static 'assets/img/enfumoir_zephyr1_05.jpg' %}" alt="">
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>   
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="container">
    <a href="#operation" class="btn-primary_large">
      <i class="bx bx-chevrons-down"></i>
      <span>{% translate "Un jeu d'enfant" %}</span>
    </a>
  </div>
</section>
