{% load i18n static %}
<section id="presentation" class="section home">
  <div class="container">
    <div class="presentation-section-container">
      <div class="presentation-bg-image">
        <div class="presentation-title-text">
          <h3>{% translate "Ergonomique" %}</h3>
          <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
        </div>
      </div>
      <div class="articles-container">
        <article class="presentation-article">
          <div class="text">
            <h5>Allumage sans echec</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ipsa, tempora iste alias mollitia vel!</p>
          </div>
          <div class="image">
            <img src="{% static 'assets/img/enfumoir_03.jpg' %}" alt="">
          </div>
        </article>
        <article class="presentation-article">
          <div class="text">
            <h5>Soufflage automatique</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ipsa, tempora iste alias mollitia vel!</p>
          </div>
          <div class="image">
            <img src="{% static 'assets/img/enfumoir_03.jpg' %}" alt="">
          </div>
        </article>
        <article class="presentation-article">
          <div class="text">
            <h5>Léger et maniable</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ipsa, tempora iste alias mollitia vel!</p>
          </div>
          <div class="image">
            <img src="{% static 'assets/img/enfumoir_03.jpg' %}" alt="">
          </div>
        </article>
      </div>
    </div>
    <div class="presentation-section-container">
      <div class="presentation-bg-image">
        <div class="presentation-title-text">
          <h3>{% translate "Fiable" %}</h3>
          <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
        </div>
      </div>
      <div class="articles-container">
        <article class="presentation-article">
          <div class="text">
            <h5>Lorem ipsum dolor sit amet.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ipsa, tempora iste alias mollitia vel!</p>
          </div>
          <div class="image">
            <img src="{% static 'assets/img/enfumoir_03.jpg' %}" alt="">
          </div>
        </article>
        <article class="presentation-article">
          <div class="text">
            <h5>Lorem ipsum dolor sit amet.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ipsa, tempora iste alias mollitia vel!</p>
          </div>
          <div class="image">
            <img src="{% static 'assets/img/enfumoir_03.jpg' %}" alt="">
          </div>
        </article>
        <article class="presentation-article">
          <div class="text">
            <h5>Lorem ipsum dolor sit amet.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ipsa, tempora iste alias mollitia vel!</p>
          </div>
          <div class="image">
            <img src="{% static 'assets/img/enfumoir_03.jpg' %}" alt="">
          </div>
        </article>
      </div>
    </div>
  </section>
