{% load static %}
<section class="home" id="users">
  <h2>Ce que disent les utilisateurs de Zephyr 1</h2>
  <p>Zephyr 1 simplifie le travail des apiculteurs</p>
  <div class="container">
    <div class="swiper mySwiper ">
      <div class="swiper-wrapper">
        <article class="swiper-slide card">
          <p>
            Notre première préoccupation est que l'apiculteur soit serein quand il ouvre ses ruches. Un apiculteur non stressé est un apiculteur doux avec ses abeilles, et heureux d'aller au rucher.
          </p>
          <div class="user-profile">
            <div class="image-wrapper">
              <img src="{% static 'assets/img/emmanuel-jallas.jpg' %}" alt="">
            </div>
            <div class="user-info">
              <p>Emmanuel Jallas</p>
              <small class="text-muted">Apiculteur, entrepreneur et fondateur de NumericBees</small>
            </div>
          </div>
        </article>
        <article class="swiper-slide card">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestiae amet voluptate architecto ad aliquid.
          </p>
          <div class="user-profile">
            <div class="image-wrapper">
              <img src="{% static 'assets/img/jean-riondet.png' %}" alt="">
            </div>
            <div class="user-info">
              <p>Jean Riondet</p>
              <small class="text-muted">Apiculteur et auteur de plusieurs livres d'apiculture</small>
            </div>
          </div>
        </article>
        <article class="swiper-slide card">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eveniet laudantium harum? Laboriosam enim doloribus id aliquam deleniti vero quasi.
          </p>
          <div class="user-profile">
            <div class="image-wrapper">
              <img src="{% static 'assets/img/apiculteur-anonyme.png' %}" alt="">
            </div>
            <div class="user-info">
              <p>Apiculteur Anonyme</p>
              <small class="text-muted">Apiculteur</small>
            </div>
          </div>
        </article>
        <article class="swiper-slide card">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eveniet laudantium harum? Laboriosam enim doloribus id aliquam deleniti vero quasi.
          </p>
          <div class="user-profile">
            <div class="image-wrapper">
              <img src="{% static 'assets/img/apiculteur-anonyme.png' %}" alt="">
            </div>
            <div class="user-info">
              <p>Apiculteur Anonyme</p>
              <small class="text-muted">Apiculteur</small>
            </div>
          </div>
        </article>
        <article class="swiper-slide card">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eveniet laudantium harum? Laboriosam enim doloribus id aliquam deleniti vero quasi.
          </p>
          <div class="user-profile">
            <div class="image-wrapper">
              <img src="{% static 'assets/img/apiculteur-anonyme.png' %}" alt="">
            </div>
            <div class="user-info">
              <p>Apiculteur Anonyme</p>
              <small class="text-muted">Apiculteur</small>
            </div>
          </div>
        </article>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
