{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block description %}{% translate "NumerciBees développe des outils pour faciliter l'apiculture. Notre enfumoir pour abeilles Zephyr1 à soufflerie électrique élimine le besoin de pomper sur un soufflet qui se perce au bout de quelques mois." %}{% endblock description %}" />
    {% block opengraph_tags %}
    {% endblock opengraph_tags %}
    <title>
      {% block title %}
        {% translate "Numericbees, l'apiculture simplifiée" %}
      {% endblock title %}
    </title>
    <link rel="icon"
          type="image/x-icon"
          href="{% static 'assets/img/logo.svg' %}">
    {% block additional_head_scripts %}
    {% endblock additional_head_scripts %}
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet"
          href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- BOXICONS CDN  -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
          rel="stylesheet"/>
    {% block additional_css %}
    {% endblock additional_css %}
  </head>
  <body>
    <nav>
      <div class="container">
        <a href="{% url 'shop:home' %}" class="nav__logo">
          <div>
            <img src="{% static 'assets/img/logo.svg' %}" alt="logo">
          </div>
          <h3>NumericBees</h3>
        </a>
        <ul id="nav__items">
          <li>
            <a href="{% url 'shop:home' %}">{% translate "Accueil" %}</a>
          </li>
          <li>
            <a href="{% url 'shop:home' %}#buy">{% translate "Acheter" %}</a>
          </li>
          <li>
            <a href="{% url 'shop:home' %}#demo">{% translate "Démonstration" %}</a>
          </li>
          <li>
            <a href="{% url 'blog:article-list' %}">{% translate "Apiculture" %}</a>
          </li>
          <li>
            <a href="{% url 'shop:contact' %}">{% translate "Contact" %}</a>
          </li>
        </ul>
        <ul id="lang__items">
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
            <li>
              {% language language.code %}
                <a href="{% url 'shop:home' %}">{{ language.name_local }} ({{ language.code }})</a>
              {% endlanguage %}
            </li>
          {% endfor %}
        </ul>
        {% if order and order.get_products_quantity and not order.ordered %}
          <a href="{% url 'shop:cart' %}" class="cart">
            <span class="cart-quantity">{{ order.get_products_quantity }}</span>
            <span class="icon"><i class="bx bx-cart"></i></span>
          </a>
        {% endif %}
        <button id="open__lang-btn">
          <i class='bx bx-globe'></i>
        </button>
        <button id="close__lang-btn">
          <i class="bx bx-x"></i>
        </button>
        <button id="open__nav-btn">
          <i class="bx bx-menu"></i>
        </button>
        <button id="close__nav-btn">
          <i class="bx bx-x"></i>
        </button>
      </div>
    </nav>
    <!-- END OF NAV -->
    <section class="hero">
      <div class="hero-bg-image">
        <div class="hero-text">
          <h1>{% translate "NumericBees" %}</h1>
          <h2>{% translate "L'Apiculture Simplifiée" %}</h2>
        </div>
      </div>
    </section>
    {% if messages %}
      <ul class="django-messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            <span>{{ message }}</span>
            <button class="close_message_btn">
              <i class="bx bx-x-circle"></i>
            </button>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% block content %}
    {% endblock content %}
    <footer>
      <div class="container">
        <article>
          <h5>NumericBees</h5>
          <p>
            56 rue du Dauphiné
            <br />
            69003, Lyon, France
          </p>
          <div>
            <i class="bx bxs-phone"></i>
            <small>+1232456789</small>
          </div>
          <div>
            <i class="bx bx-mail-send"></i>
            <small><a href="mailto:info@numericbees.com">info@numericbees.com</a></small>
          </div>
        </article>
        <article>
          <h5>Support</h5>
          <a href="{% url 'shop:sales-conditions' %}">{% translate "Conditions générales de vente" %}</a>
          <a href="{% url 'shop:legal-terms' %}">{% translate "Mentions Légales" %}</a>
          <a href="{% url 'shop:confidentiality' %}">{% translate "Politique de confidentialité" %}</a>
          <a href="{% url 'shop:contact' %}">{% translate "Contact" %}</a>
        </article>
      </div>
      <div class="copyright">{% translate "Copyright NumericBees. Tous droits réservés." %}</div>
    </footer>
    {% block additional_scripts %}
    {% endblock additional_scripts %}
    <!--  PROJECT JS -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/messages.js' %}"></script>
  </body>
</html>
