{% extends 'base.html' %}
{% load i18n static %}
{% block content %}
  <section class="highlight">
    <div class="container">
      <div class="hero-content">
        <div class="left">
          <h1>{% translate "Zephyr 1" %}</h1>
          <h2>{% translate "L'enfumoir apicole qui facilite la vie au rucher" %}</h2>
          <div class="check">
            <i class="bx bx-check-square"></i>
            <p>{% translate "Allumage sans effort" %}</p>
          </div>
          <div class="check">
            <i class="bx bx-check-square"></i>
            <p>{% translate "Enfumage automatique" %}</p>
          </div>
          <div class="buttons">
            <a href="#knowmore" class="btn-primary">
              <i class="bx bx-chevrons-down"></i>
              <span>{% translate "En Savoir Plus" %}</span>
            </a>
            <a href="#buy" class="btn-primary">
              <i class="bx bx-cart"></i>
              <span>{% translate "Acheter" %}</span>
            </a>
          </div>
        </div>
        <div class="right">
          <div class="hero-image">
            <img src="{% static 'assets/img/zephyr-1-automatic-bee-smoker.jpg' %}"
                 alt="Enfumoir Automatique Zephyr 1"/>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END  OF  HERO -->
  {% include 'home/discover.html' %}
  <!-- END OF DISCOVER -->
  {% include 'home/features.html' %}
  <!-- END OF FEATURES -->
  {% include 'shop/buy.html' %}
  <!-- END OF BUY -->
  {% include 'contact/demo_request.html' %}
  <!-- END OF DEMO -->
  <button type="button" class="btn-primary" id="btn-back-to-top">
    <i class='bx bxs-up-arrow-circle'></i>
  </button>
{% endblock content %}
{% block additional_scripts %}
  <script src="{% static 'js/scroll_top.js' %}"></script>
  <script src="{% static 'js/anchor_offset.js' %}"></script>
  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    
      // responsive breakpoints
      breakpoints: {
        //when window width is >= 600px
        600: {
          slidesPerView: 2,
        },
        //when window width is >= 1024px
        1024: {
          slidesPerView: 3,
        },
      },
    });
  </script>
{% endblock additional_scripts %}
