{% extends 'base.html' %}
{% load static %}

{% block additional_head_scripts %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock additional_head_scripts %}

{% block content %}
  <section class="highlight">
    <div class="container">
      <div class="hero-content">
        <div class="left">
          <h1>Zephyr 1</h1>
          <h2>L'enfumoir Apicole Qui Facilite La Vie Au Rucher</h2>
          <div class="check">
            <i class="bx bx-check-square"></i>
            <p>Allumage sans effort</p>
          </div>
          <div class="check">
            <i class="bx bx-check-square"></i>
            <p>Enfumage automatique</p>
          </div>
          <div class="buttons">
            <a href="#knowmore" class="btn-primary">
              <i class="bx bx-chevrons-down"></i>
              <span>En Savoir Plus</span>
            </a>
            <a href="#buy" class="btn-primary">
              <i class="bx bx-cart"></i>
              <span>Acheter</span>
            </a>
          </div>
        </div>
        <div class="right">
          <div class="hero-image">
            <img src="{% static 'assets/img/zephyr-1-automatic-bee-smoker.jpg' %}"
                 alt="Enfumoir Automatique Zephyr 1"/>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END  OF  HERO -->
  <section id="knowmore" class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <video width="100%" autoplay muted loop controls>
          <source src="{% static 'assets/video/ouverture-ruche.mp4' %}"
                  type="video/mp4"/>
          Your browser does not support the video.
        </video>
      </div>
      <div class="swiper-slide">
        <video width="100%" autoplay muted loop controls>
          <source src="{% static 'assets/video/faire-descendre-les-abeilles.mp4' %}"
                  type="video/mp4"/>
          Your browser does not support the video.
        </video>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </section>
  <!-- END OF KNOWMORE -->
  {% include 'home/features.html' %}
  <!-- END OF FEATURES -->
  {% include 'shop/buy.html' %}
  <!-- END OF BUY -->
  {% include 'contact/demo_request.html' %}
  <!-- END OF DEMO -->
{% endblock content %}
{% block additional_scripts %}
  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <!-- Initialize Swiper -->
  <script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 0,
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
  </script>
{% endblock additional_scripts %}
