section.hero {
  margin-top: 5rem;
  padding-top: 0;
  overflow: hidden;

  .hero-bg-image {
    height: calc(38vh - 5rem);
    background: linear-gradient(rgba(4, 1, 18, 0.21), rgba(4, 1, 18, 0.21)),
      url(./../assets/img/hero-background.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: $white-color;
    text-shadow: 0px 3px 6px #050503;
    display: grid;
    place-items: center;

    .hero-text {
      h1 {
        @include logoStyleLarge;
        font-size: 3rem;
      }

      h2 {
        @include logoStyleNormal;
        font-size: 2rem;
      }
    }
  }
}
section.highlight {
  display: grid;
  justify-items: center;
  overflow: hidden;
  margin-top: 0;
  height: 62vh;
  .container {
    display: grid;
    place-items: center;
    padding: 2rem 0;

    .hero-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
      max-width: 1024px;

      .left {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 0 5%;
        max-width: 28rem;

        h1 {
          font-size: 2.4rem;
        }

        h2 {
          font-size: 1.6rem;
        }

        .check {
          display: flex;
          align-items: center;
          font-size: 1.1rem;
          &>p {
            margin-left: 1rem;
          }
        }

        .buttons {
          & > a {
            width: 100%;
            justify-content: center;
          }
        }
      }
      .right {
        display: grid;
        place-items: center;
        padding: 0 5%;
        .hero-image {
          max-width: 330px;
        }
      }
    }
  }
}

/* ================== MEDIA QUERIES (SMALL SCREENS) ======================= */
@media screen and (max-width: 600px) {
  section.highlight {
    .container {
      height: auto;
      .hero-content {
        grid-template-columns: 1fr;
        .left {
          text-align: center;
          align-items: center;
          .check {
            justify-content: center;
          }
          .buttons {
            grid-template-columns: auto;
            justify-items: center;
          }
        }
        .right {
          display: none;
        }
      }
    }
  }
}
