#knowmore {

  .swiper {
    padding: 50px;
  }

  .swiper-wrapper {
    
    // brings .swiper-pagination down
    // margin-bottom: 2rem;
    // margin-left: 5rem;
    // padding-right: 5rem;
    
  }

  // .swiper-slide.swiper-slide-next {
  //   mafgin-left: 100px;
  // }
  .swiper-pagination-bullet {
    background: $primary-color;
  }
  .swiper-button-next, .swiper-button-prev {
    color: $primary-color;
    font-size: 10rem;
  }
}
