#knowmore {
  background: $secondary-color;
  .container {
    width: 100%;
    max-width: 1024px;
    padding-bottom: 8rem;
  }
  .swiper {
    padding: 50px;
  }

  .swiper-pagination-bullet {
    background: $primary-color;
  }
  .swiper-button-next, .swiper-button-prev {
    color: $primary-color;
    font-size: 10rem;
  }
}
