ul.django-messages {
  position:fixed;
  z-index: 10;
  left: 0;
  top: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem 0;
  padding: 0;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 1rem;
    &.info {
      background: rgba($success-color, 0.8);
    }
    &.error {
      background: rgba($danger-color, 0.8);
    }
    &.warning {
      background: rgba($warning-color, 0.8);
    }

    button {
      font-size: 1.4rem;
      background: transparent;
    }
  }

}