table.standard {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  thead {
    text-align: center;
    font-weight: 600;
    color: $primary-color;
  }
  tbody {
    tr {

      &:last-child > td {
        border-bottom: 0;
        font-weight: 600;
      }

      td {
        padding: 0.5rem;
        border-bottom: 1px solid $border-color;
        word-wrap:break-word;
        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }
      }

    }
  }
}

td {
  overflow-wrap: break-word;
  overflow: ;
}