#tutorial {
  .container {
    width: 100%;
    max-width: 720px;
  }
}

.mySwiperVideo {
  height: 80%;
  width: 100%;
}

.mySwiperVideoThumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  background: $black-color;
}

.mySwiperVideoThumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiperVideoThumbs .swiper-slide-thumb-active {
  opacity: 1;
}


